[Unit]
Description=API for Coffee Plant Monitoring
After=multi-user.target

[Service]
Restart=on-failure
RestartSec=5s
Type=simple
ExecStart=/home/rsb/idb/raspberry/venv/bin/python3 /home/rsb/idb/raspberry/main.py
Restart=on-abort

[Install]
WantedBy=multi-user.target